html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

form {
  margin: 50px;
  padding: 5px;
  background: green;
  display: inline-block;
}

form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  color: #fff;
}
.dropdown-input {
  background-color: white;
  padding: 4%;
  border: 1px solid #d6d9e6;
  box-sizing: border-box;
  border-radius: 8px;
  z-index: 9999;
}

/* .dropdown-input {
  background-color: white;
  padding: 4%;
  border: 1px solid #d6d9e6;
  box-sizing: border-box;
  border-radius: 8px;
} */

/* .drop-up .Select-menu-outer {
  top: auto;
  bottom: 100%;
} */

@font-face {
  font-family: 'MaterialIcons';
  src: url('./Fonts/MaterialIcons.ttf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./Fonts/FontAwesome.ttf');
}

@font-face {
  font-family: 'Zocial';
  src: url('./Fonts/Zocial.ttf');
}

@font-face {
  font-family: 'AntDesign';
  src: url('./Fonts/AntDesign.ttf');
}

@font-face {
  font-family: 'Entypo';
  src: url('./Fonts/Entypo.ttf');
}

@font-face {
  font-family: 'EvilICon';
  src: url('./Fonts/EvilIcons.ttf');
}

@font-face {
  font-family: 'Feather';
  src: url('./Fonts/Feather.ttf');
}

@font-face {
  font-family: 'FontAwesome5';
  src: url('./Fonts/FontAwesome5_Brands.ttf');
}

@font-face {
  font-family: 'Fontisto';
  src: url('./Fonts/Fontisto.ttf');
}

@font-face {
  font-family: 'Foundation';
  src: url('./Fonts/Foundation.ttf');
}

@font-face {
  font-family: 'Ionicons';
  src: url('./Fonts/Ionicons.ttf');
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('./Fonts/MaterialCommunityIcons.ttf');
}

@font-face {
  font-family: 'MaterialIcons';
  src: url('./Fonts/MaterialIcons.ttf');
}

@font-face {
  font-family: 'Octicons';
  src: url('./Fonts/Octicons.ttf');
}

@font-face {
  font-family: 'SimpleLineIcons';
  src: url('./Fonts/SimpleLineIcons.ttf');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./Fonts/Poppins-Light.ttf');
}

/* .css-yk16xz-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent !important;
  border-color: hsl(0, 0%, 80%);
  border-radius: 0px !important;
  border-style: solid;
  border-width: 0px !important;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}

.css-1pahdxg-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent !important;
  border-color: #2684ff;
  border-radius: 0px !important;
  border-style: solid;
  border-width: 0px !important;
  box-shadow: 0 0 0 1px #2684ff;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 8px !important;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
  color: #4f2d7f !important;
}

.css-2b097c-container {
  position: relative;
  width: 250px !important;
  box-sizing: border-box;
}

.css-tlfecz-indicatorContainer:hover {
  color: #000 !important;
}

.css-tlfecz-indicatorContainer {
  color: #000 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-transition: color 150ms;
  transition: color 150ms;
  box-sizing: border-box;
}

.css-1okebmr-indicatorSeparator {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-color: transparent !important;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 1px;
  box-sizing: border-box;
} */
