html,
body,
#root,
#root > div {
  width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

form {
  margin: 50px;
  padding: 5px;
  background: green;
  display: inline-block;
}

form input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  color: #fff;
}

.dropdown-input {
  background-color: white;
  padding: 4%;
  border: 1px solid #d6d9e6;
  box-sizing: border-box;
  border-radius: 8px;
  z-index: 9999;
}

.cal-time-dropdown {
  position: relative;
  /* left: 75.23%;
  right: 11.47%;
  top: 36.34%;
  bottom: 55.77%; */
  font-family: 'Poppins-Light' !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  /* identical to box height, or 233% */
  display: flex;
  align-items: center;
  background: #f1f6ff;
  border-radius: 8px;
  outline: none !important;
  padding: 4px;
  border: 0;
}

.rdrCalendarWrapper {
  color: #000000;
  font-size: 12px;
  font-family: 'Poppins-Light' !important;
}

/* .dropdown-input {
  background-color: white;
  padding: 4%;
  border: 1px solid #d6d9e6;
  box-sizing: border-box;
  border-radius: 8px;
} */

/* .drop-up .Select-menu-outer {
  top: auto;
  bottom: 100%;
} */

@font-face {
  font-family: 'MaterialIcons';
  src: url('./Fonts/MaterialIcons.ttf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./Fonts/FontAwesome.ttf');
}

@font-face {
  font-family: 'Zocial';
  src: url('./Fonts/Zocial.ttf');
}

@font-face {
  font-family: 'AntDesign';
  src: url('./Fonts/AntDesign.ttf');
}

@font-face {
  font-family: 'Entypo';
  src: url('./Fonts/Entypo.ttf');
}

@font-face {
  font-family: 'EvilICon';
  src: url('./Fonts/EvilIcons.ttf');
}

@font-face {
  font-family: 'Feather';
  src: url('./Fonts/Feather.ttf');
}

@font-face {
  font-family: 'FontAwesome5';
  src: url('./Fonts/FontAwesome5_Brands.ttf');
}

@font-face {
  font-family: 'Fontisto';
  src: url('./Fonts/Fontisto.ttf');
}

@font-face {
  font-family: 'Foundation';
  src: url('./Fonts/Foundation.ttf');
}

@font-face {
  font-family: 'Ionicons';
  src: url('./Fonts/Ionicons.ttf');
}

@font-face {
  font-family: 'MaterialCommunityIcons';
  src: url('./Fonts/MaterialCommunityIcons.ttf');
}

@font-face {
  font-family: 'MaterialIcons';
  src: url('./Fonts/MaterialIcons.ttf');
}

@font-face {
  font-family: 'Octicons';
  src: url('./Fonts/Octicons.ttf');
}

@font-face {
  font-family: 'SimpleLineIcons';
  src: url('./Fonts/SimpleLineIcons.ttf');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./Fonts/Poppins-Light.ttf');
}

.rdw-option-wrapper {
  border: none !important;
  padding: none !important;
  font-size: 12px !important;
}

.css-yk16xz-control {
  border-color: none !important;
  border-radius: none !important;
  border-style: none !important;
  border-width: none !important;
}

.select_box .css-yk16xz-control {
  background-color: none !important;
}

/* .css-yk16xz-control .css-1okebmr-indicatorSeparator,
.css-1okebmr-indicatorSeparator {
  background-color: '#fff' !important;
  align-self: 'none' !important;
  margin-bottom: none !important;
  margin-top: none !important;
  width: none !important;
  box-sizing: none !important;
} */

.select_box span {
  background-color: white !important;
  width: none !important;
}

.select_box span :hover {
  background-color: #f9f9f9 !important;
  width: none !important;
}

.select_box .css-yk16xz-control :hover {
  background-color: #f9f9f9 !important;
}

.select_box :hover {
  background-color: #f9f9f9 !important;
}

.select_box {
  background-color: none !important;
}

.multiselect {
  z-index: 99999;
}

/* .select_box .css-tj5bde-Svg {
  display: hidden !important;
} */

.wrapperClass {
  display: flex;
  flex-direction: column;
}

.editorClass {
  order: 1;
}

.toolbarClass {
  order: 2;
}
